@import url("style.css");

/* ========== MEDIA QUERIES FOR TABLET AND SMALL LAPTOP */

@media screen and (max-width: 1200px) {
    .container{
        width: 94%;
        grid-template-columns: 7rem auto 23rem;;
    }

    aside .logo h2{
        display: none!important;
    }

    aside .side-nav-item h3{
        display: none;
    }

    .aside .sidebar a{
        width: 56rem;
    }

    .aside .side-nav-item a:last-child{
        position: relative;
        margin-top: 1.8rem;
    }

    main .insight{
        grid-template-columns: 1fr;
        gap: 0;
    }

    main .recent-order{
        width: 94%;
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        margin: 2rem 0 0 8.8rem;
    }

    main .recent-order table{
        width: 84vw;
    }

    main table thead tr th:first-child,
    main table thead tr th:last-child{
        display: none;;
    }

    main table tbody tr td:first-child,
    main table tbody tr td:last-child{
        display: none;;
    }
}

/* ============== MEDIA QUERIES FOR PHONES ============== */
@media screen and (max-width: 768px) {
    .container{
        width: 100%;
    }

    aside {
        position: fixed;
        left: 0;
        background: var(--color-white);
        width: 18rem;
        z-index: 3;
        box-shadow: 1rem 3rem 4rem var(--color-light);;
        height: 100vh;
        padding-right: var(--card-padding);
    }

    aside .logo{
        margin-left: 1rem;
    }

    aside .logo h2{
        display: inline !important;
    }

    aside .side-nav-item h3{
        display: inline;
    }
}
